<div class="filter-card">
  <div class="filter-card-text">
    <h2>4 produits trouvé</h2>
  </div>
  <div class="filter-card-btn">
    <button mat-raised-button  class="filter_btn">
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>
    <button mat-raised-button [matBadge]="badgeValue" matBadgePosition="before" matBadgeColor="accent" class="compare_btn">
      <mat-icon>filter_list</mat-icon>
      Compare
    </button>

    <mat-slide-toggle>Mensuel</mat-slide-toggle>
  </div>

</div>
